<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href="/en" />
    <title>Transcribr</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en">Transcribr</a>...</p>
    <script>
      (function () {
        var supported = ["en", "nl", "de", "es", "hr", "it", "fr"];
        var languages = navigator.languages || [navigator.language || "en"];
        var match = languages
          .map(function (l) {
            return l.split("-")[0];
          })
          .find(function (l) {
            return supported.indexOf(l) !== -1;
          });
        window.location.replace(match ? "/" + match : "/en");
      })();
    </script>
  </body>
</html>
